<section class="Header" id="About Me">
    <div class="self">
        <h1><%=bannerRecord.title%></h1>
        <p style="padding-top: 20px; width: 671px;"><%=bannerRecord.datails%></p>
        <button type="button">Order services</button>
    </div>
    <img src="/upload/<%=bannerRecord.image%>" class="man">
</section>