<section class="ads">
    <div class="text">
        <h1>Let's get to know each other!</h1>
        <p>Promotion Agency, where brands gain color, <br> character and voice. We will lead you to repeated
            <br> sales with concrete strategies.
        </p>
        <button type="submit">Get Started</button>
    </div>
    <div class="mobile">
        <img src="Image/phone 1.png" class="mobile1" alt="phone 1">
        <img src="Image/phone 2.png" class="mobile2" alt="phone 2">
    </div>
</section>