<header id="Navbar">
    <nav class="Navbar">
        <img src="Image/Adsman_Logo-02 1.png" alt="AdsMan">
        <ul class="list">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#About Me">About me</a></li>
            <li><a href="#Services">Services</a></i></li>
            <li><a href="/userTesti">Testimonial</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
        <button type="button">Get Started</button>
    </nav>
</header>