<section class="googlePartner">
    <div class="img">
        <img src="Image/google.png" alt="google">
    </div>

    <div class="aboutG">
        <h1>We are Google <br> Partners Now!</h1>
        <p>Google Partners is a program that enables individuals <br> and companies to become certified in Google
            Ads and <br> access other resources that can help them become <br> more proficient in digital marketing.
        </p>
    </div>
</section>