<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        div {
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div>
        <h2>Password has been changed Successfully. <br> Please click the link below to login again.</h2>
        <a href="/admin/">Click to login</a>
    </div>
</body>

</html>