<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-8">Welcome <%=loginName%>!</div>
            <div class="col-md-4"><a class="LogOutBtn" href="/admin/logout"><i class="bi bi-box-arrow-right"></i></a></div>
        </div>
    </div>
</section>

<!-- <button>LogOut</button> -->