<div class="col-md-3">

    <a href="/admin/banner"><button class="btn btn-outline-danger form-control m-2">Banner Management</button></a>
    
    <a href="/admin/service"><button class="btn btn-outline-danger form-control m-2">Service Management</button></a>
    
    <a href="/admin/testimonial"><button class="btn btn-outline-danger form-control m-2">Testimonial Management</button></a>
    
    <a href="/admin/query"><button class="btn btn-outline-danger form-control m-2">Query Management</button></a>
    
    <a href="/admin/address"><button class="btn btn-outline-danger form-control m-2">Address Management</button></a>
    
    <a href="/admin/dashboard"><button class="btn btn-outline-danger form-control m-2">Password Management</button></a>

</div>